.no-gutter > [class*='col'] {
    padding-right: 0;
    padding-left: 0;
}

.dot {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    display: inline-block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-one {
    flex: 1;
}

.no-label > label {
    display: none;
}